block append head
  link(rel='stylesheet' href='/css/footer.css')

footer
  #about
    h3 About
    p This website is designed to help wheelchair users to find and evaluate convenient information of train stations, buildings, parks and parking spaces. 

  #author
    h3 Produced by
    p This product is a simple demo site provided by zdl. No business purpose included.

  #mobile-link
    h3 App available
    div.links
      a(href="https://play.google.com/store/apps/details?id=com.zhangdonglin.googlemapsandplace") 
        span 
          img.shop-icon(src="/image/google-play-icon-128x128.png")
