doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="#")

    title Swivel | Forgot Password
  body
    form#forgotPassword
      label(for="userEmail") Type in your Email:
      br
      input(type="text" id="userEmail" placeholder="Enter User Email" required)

      button(type="submit") Send reset link


  foot 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
    script(src="/js/forgotpassword.js")