extends base

block append head
  script(src='http://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js')
  link(href='http://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet')
  link(href='/css/homepage.css' rel='stylesheet')


block content
  div.three-column-container
    div#filter-group.three-column-left.scrollable-vertical
      form#locationForm
        ul
          h3 Please set filters here
          li
            div.center.filter-box
              h4 Center coordinates:
              ul
                li
                  span
                    h5 Longitude: 
                  span 
                    #centerLng
                li
                  span 
                    h5 Latitude: 
                  span
                    #centerLat
          li
            div.range.filter-box
              h4(for="searchRadius") 
                span Searching Radius(0-10km): 
                span#searchRadiusLabel 5
              input(type="range" id="searchRadius" name="searchRadius" min="0.1" max="10" step="0.05" value = 5)
          li
            div.toiletSearchFilter.filter-box
              h4(for="locationType1") 
                input(type="checkbox" id="locationType1" name="toilet" value="toilet" checked)
                span Find Toilet:

              ul
                li
                  div
                    h4 Gender: 
                      input(type="checkbox" id="toiletForMale" value="toiletForMale" name="toiletGender" checked)
                      label(for="toiletForMale") Male
                      input(type="checkbox" id="toiletForFemale" value="toiletForFemale" name="toiletGender" checked)
                      label(for="toiletForFemale") Female
                li
                  div
                    h4 Wheelchair Access: 
                      input(type="radio" id="toiletWheelChairAccessibleNeed" name="toiletWheelChairAccessibility" value="toiletWheelChairAccessible")
                      label(for="toiletWheelChairAccessibleNeed") Need
          li
            div.parkingSearchFilter.filter-box
              h4(for="locationType2") 
                input(type="checkbox" id="locationType2" name="parking" value="parking" checked)
                span Find Parking Spots
          li
            div.trainStationSearchFilter.filter-box
              h4(for="locationType3")
                input(type="checkbox" id="locationType3" name="trainStation" value="trainStation" checked)
                span Find Trains Stations: 
                ul
                  li
                    h4 
                      span Lift in Station: 
                      input(type="radio" id="trainStationHasLiftNeed" name="trainStationHasLift" value="trainStationHasLift")
                      label(for="trainStationHasLiftNeed") Need
        div(style="margin-left:35%;")
          button#search-button.search-button 
            b Search

    div#map.map.three-column-middle

    div#locations-block.three-column-right.scrollable-vertical

    div#reviews-block.three-column-bottom.scrollable-horizontal




block append foot
  script(src="http://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
  script(src='/js/homepage.js')