doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Swivel | Reset Password
  body
    div#authUrl(data-authUrl= `${authUrl}`)
    form#resetPasswordForm
      label(for="newPassword") New Password
      input(type="password" id="newPassword" placeholder="Enter New Password" required)
      label(for="newPasswordConfirm") New Password Confirm
      input(type="password" id="newPasswordConfirm" placeholder="Enter New Password Again" required)
      button(type="submit") Reset

  foot 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
    script(src="/js/resetpassword.js")