.filter-box {
	margin: 10px;
	border-bottom: dashed 1px rgb(13, 19, 1);
}

.search-button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
}
