.dialog-box {
	height: 25vh;
	width: 30vw;
	background-color: rgba(255, 255, 255, 0.952);
	font-size: large;
	border-radius: 5px;
}

#signupForm input {
	width: 100%;
}

.title {
	text-align: center;
	border-bottom: double 2px black;
}

.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
	margin-right: 1vw;
	width: 8vw;
}
